@import"../fonts/fonts.css";
/*BASIC CONF*/
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    font-family: "Montserrat", sans-serif;
    background:#fafafa;
}
a{
    text-decoration: none;
    color:inherit;
}
button{
    border:none;
    background:none;
}
.rounded-btn{
    padding: 10px 46px;
    border-radius:37px;font-weight:700;
    font-size:14px;
    line-height:28px;
    letter-spacing:0.2px;

}
/*BASIC CONF*/

/*UNIQUE CONF*/
.row{
    display:flex;
}
.col-6{
    width:50%;
}
.col-4{
    width:33.33333%;
}
.col-3{
    width:25%;
}

.d-flex{
    display:flex;
}
.align-center{
    align-items:center;
}
.justify-center{
    justify-content:center;
}
.justify-between{
    justify-content:space-between;
}
.container{
    max-width: 1060px;
    margin:0 auto;
    padding: 0 10px;
}

/*HERO SECTION*/
.hero .container{

    position:relative;
}
.hero{
    height:100vh;
    padding-top:184px;
    background:url("../images/hero_bg.png") no-repeat center/cover;
}
.hero_desc{
    font-size:20px;
    line-height:30px;
    width:376px;
    text-align:left;
    margin:35px 0;


}
/*HEADER SECTION*/
.header{
    z-index:10;
    position:absolute;
    width:100%;
    top:36px;
}
.header_logo{
    font-weight:700;
    font-size:24px;
    line-height:32px;
    letter-spacing: 0.1px;
    color:#252b42;
    margin-right:117px;
}
.header_link{
    display:inline-block;
    font-weight:600;
    font-size:14px;
    line-height:24px;
    letter-spacing: 0.2px;
    margin-right:21px;
    color:#252b42;
}
.section_title{
    font-size:40px;
    font-weight:700;
    line-height:57px;
    letter-spacing:0.2px;
    color:#252b42;
}
.section_desc{
    font-weight:500;
    font-size:14px;
    line-height:20px;
    text-align:center;
    letter-spacing: 0.2px;
    color:#737373;

}
.hero_title{
    font-weight:800;
    font-size:58px;
    line-height:80px;
    width:509px;
}
.hero_filled{
    border: 1px solid #ffa62b;
    background:#ffa62b;
    color:#ffffff;
    margin-right: 10px;
}
.hero_hollow{
    border: 1px solid #00A0C1;
    color:#00A0C1;
}
.hero .container{
    position:relative;
    height:100%;
}
 .hero .row{
     position:absolute;
     width:100%;
     bottom:-19px;
     gap:30px;

}
.hero_card{
    height:210px;
    box-shadow:0px 13px 19px 0px #00000012;
    background:#ffffff;
    padding:35px 0 35px 40px;
    transition:0.6s;
}
.hero_sm-title{
    font-weight:700;
    font-size:24px;
    line-height:32px;
    letter-spacing: 0.1px;
    color:#252b42;
    margin: 10px 0px;
    transition:0.6s;
}
.hero_sm-desc{
    font-weight:500;
    font-size:14px;
    line-height:20px;
    letter-spacing:0.2px;
    color:#737373;
    transition:0.6s;
}
.hero_card:hover svg{
    fill:#00A0C1;
    transition:0.6s;
}

.hero_card svg{
    fill:#00A0C1;
    transition:0.6s;
}
.hero_card:hover{
    background: #00A0C1;
}
.hero_card:hover svg{
    fill:#ffffff;
}
.hero_card:hover .hero_sm-title{
    color:#ffffff;
}
.hero_card:hover .hero_sm-desc{
    color:#ffffff;
}
/*REASON SECTION*/
.reason{
    padding:211px 0 80px;
}
.reason_title{
    text-align: center;
    text-transform: uppercase;
}
.reason_desc{
    width:511px;
    margin: 10px auto 50px;
}
.reason .row{
    gap:40px;
}
.reason_card{
    height:209px;
    background: #ffffff;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
}
.reason_number{
    margin: 10px 10px;
    font-weight:700;
    font-size:40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color:#252b42;
}
.reason_md-desc{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color:#737373;
}
/*PRACTICE SECTION*/
.practice{
    padding:125px 0 81px;
}
.practice_title{
    text-align: center;
}
.practice_desc{
    margin: 10px 0 45px;
}
.practice .row{
    gap:40px;
}
.practice_card{
    background:#ffffff;
}
.practice_content{
    padding: 30px 29px;
    height:203px;
}
.practice_sm-title{
    font-weight:700;
    font-size:16px;
    line-height:24px;
    letter-spacing: 0.1px;
    color:#252b42;
}
.practice.card .section_desc{
    text-align: left;
    margin-top: 15px;
}
/* ABOUT SECTIon*/
.about{
    padding: 100px 0;
}



